In [1]:
import pandas as pd

In [4]:
p = pd.read_csv('Bevölkerung - Deutschland.csv')

In [5]:
p

   Bevölkerung - Deutschland         Unnamed: 1 Unnamed: 2 Unnamed: 3
0                        NaN               2022        NaN        NaN
1                        NaN  Bevölkerungsstand        NaN        NaN
2                        NaN             Gesamt   männlich   weiblich
3                        NaN             Anzahl     Anzahl     Anzahl
4                Deutschland          84358 845  41559 052  42799 793
5          Baden-Württemberg          11280 257   5595 424   5684 833
6                     Bayern          13369 393   6620 203   6749 190
7                     Berlin           3755 251   1843 196   1912 055
8                Brandenburg           2573 135   1265 151   1307 984
9                     Bremen             684864     338233     346631
10                   Hamburg           1892 122     925616     966506
11                    Hessen           6391 360   3151 158   3240 202
12    Mecklenburg-Vorpommern           1628 378     799695     828683
13             Niedersachsen           8140 242   4009 822   4130 420
14       Nordrhein-Westfalen          18139 116   8890 200   9248 916
15           Rheinland-Pfalz           4159 150   2054 254   2104 896
16                  Saarland             992666     487101     505565
17                   Sachsen           4086 152   2010 537   2075 615
18            Sachsen-Anhalt           2186 643   1073 711   1112 932
19        Schleswig-Holstein           2953 270   1443 269   1510 001
20                 Thüringen           2126 846   1051 482   1075 364
21         Baden-Württemberg           35747,85        NaN        NaN
22                    Bayern           70541,58        NaN        NaN
23                    Berlin             891,12        NaN        NaN
24               Brandenburg           29654,38        NaN        NaN
25                    Bremen             419,61        NaN        NaN
26                   Hamburg             755,09        NaN        NaN
27                    Hessen           21115,62        NaN        NaN
28    Mecklenburg-Vorpommern           23294,90        NaN        NaN
29             Niedersachsen           47709,90        NaN        NaN
30       Nordrhein-Westfalen           34112,72        NaN        NaN
31           Rheinland-Pfalz           19857,97        NaN        NaN
32                  Saarland            2571,52        NaN        NaN
33                   Sachsen           18449,86        NaN        NaN
34            Sachsen-Anhalt           20467,20        NaN        NaN
35        Schleswig-Holstein           15804,30        NaN        NaN
36                 Thüringen           16202,37        NaN        NaN
37               Deutschland          357595,99        NaN        NaN
38         Baden-Württemberg                316        NaN        NaN
39                    Bayern                190        NaN        NaN
40                    Berlin               4214        NaN        NaN
41               Brandenburg                 87        NaN        NaN
42                    Bremen               1632        NaN        NaN
43                   Hamburg               2506        NaN        NaN
44                    Hessen                303        NaN        NaN
45    Mecklenburg-Vorpommern                 70        NaN        NaN
46             Niedersachsen                171        NaN        NaN
47       Nordrhein-Westfalen                532        NaN        NaN
48           Rheinland-Pfalz                209        NaN        NaN
49                  Saarland                386        NaN        NaN
50                   Sachsen                221        NaN        NaN
51            Sachsen-Anhalt                107        NaN        NaN
52        Schleswig-Holstein                187        NaN        NaN
53                 Thüringen                131        NaN        NaN